---
import { Image } from "astro:assets";
import "./Divider.css";
---

<div class="divider-wrapper" aria-hidden="true">
  <Image
    src="/greca.webp"
    alt="Separador ornamental"
    class="section-divider-img"
    width={300}
    height={30}
    loading="lazy"
  />
</div>
