.image-card {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  overflow: hidden;
  transition: transform 0.3s;
  background: transparent;
  height: 460px;
  border-radius: 8px;
}
.image-card:hover {
  transform: translateY(-5px);
}
.image-card-img {
  width: 100%;
  flex-grow: 1;
  height: 100%;
  object-fit: cover;
  display: block;
}
.image-card-bar {
  background-color: var(--bar-color);
  color: #fff;
  padding: 1.2rem 1rem;
  text-align: center;
  font-weight: 700;
  font-size: 1.2rem;
  font-family: inherit;
}
